[submodule "pyRfactor2SharedMemory"]
	path = pyRfactor2SharedMemory
	url = https://github.com/TinyPedal/pyRfactor2SharedMemory.git
[submodule "pyLMUSharedMemory"]
	path = pyLMUSharedMemory
	url = https://github.com/TinyPedal/pyLMUSharedMemory.git
